@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

/* Default değerleri değiştir */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  /* geçişi yavaşlatması için */
  transition: 0.2s ease;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #e84242;
  --black-color: #000;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

/* Base Html codes */
html {
  /* 1rem 10 px yap */
  font-size: 62.5%;
  /* Yatayda scrole çıkmasın diye */
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

/* scroll */
html::-webkit-scrollbar {
  width: 1.5rem;
  background-color: #fff;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
}

body {
  background-color: var(--main-color);
  height: 200vh;
}

section {
  padding: 3.5rem 7%;
}

a {
  color: var(--black-color);
  text-decoration: none;
}

/* Header Start*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 1% 7% 0 7%;
  border-radius: 9rem;
  padding: 0 7%;
  box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  /* headerı sabitlemek */
  position: sticky;
  top: 0;
  z-index: 10000;
}

header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--black-color);
}

header .navbar .active,
header .navbar a:hover {
  border-bottom: 0.1rem solid var(--main-color);
}

.logo img {
  height: 10rem;
}

header .buttons button {
  font-size: 2.4rem;
  cursor: pointer;
  margin-left: 2rem;
  background-color: transparent;
}
/* Header End */

/* Home style Start */
.home {
  height: 100vh;
  background: url(../images/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -12.4rem;
  display: flex;
  align-items: center;
}

.home .home-info {
  max-width: 60rem;
  margin: 0 7%;
  letter-spacing: 0.2rem;
}
.home .home-info h1 {
  color: #fff;
  font-size: 5rem;
}

.home .home-info p {
  font-size: 2rem;
  color: #d8cdcd;
  margin-bottom: 3rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 2rem;
  background-color: var(--black-color);
  padding: 2rem 2rem;
  border-radius: 10rem;
  color: #d8cdcd;
}

.btn:hover {
  font-size: 2.4rem;
  background-color: var(--black-color);
  padding: 2rem 2rem;
  border-radius: 10rem;
  color: #d8cdcd;
}

/* Home style End */

/* Menu style start */
.heading {
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #fff;
  margin-bottom: 3rem;
  border-bottom: 1px solid #dfd5d5;
}

.heading span {
  color: #000;
  text-transform: uppercase;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
}

.menu .box-container .box {
  padding: 3em;
  background-color: #fff;
  border-radius: 3rem;
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.menu .box-container .box img {
  width: 100%;
  object-fit: cover;
}

.menu .box-container .box .menu-category {
  font-size: 1.2rem;
}

.menu .box-container .box h3 {
  font-size: 3rem;
  padding: 1rem 0;
}

.menu .box-container .box .menu-price {
  font-size: 2.4rem;
  padding: 0.6rem 0;
}

.menu .box-container .box .menu-price p {
  font-size: 2.4rem;
  padding: 0.6rem 0;
}

.menu .box-container .box .menu-price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: 300;
}

/* Menu style end */

/* Product style start */
.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  text-align: center;
  background-color: #fff;
  position: relative;
  border-radius: 3rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
}

.products .box-container .box .box-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

.products .box-container .box .box-head .title {
  font-size: 1.4rem;
}

.products .box-container .box .box-head .name {
  font-size: 4rem;
  font-weight: bold;
  text-align: start;
  overflow-wrap: anywhere;
}

.products .box-container .dark-bg .box-head .name,
.products .box-container .dark-bg .box-head .title {
  color: #fff;
}

.products .box-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 3rem;
}

.products .box-container .dark-bg img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: unset;
}

.products .box-container .box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.products .box-container .box-bottom .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.products .box-container .box-bottom .info .price {
  font-size: 3rem;
}

.products .box-container .box-bottom .info .amount {
  font-size: 1.4rem;
}

.products .box-container .dark-bg .box-bottom .info .price,
.products .box-container .dark-bg .box-bottom .info .amount {
  color: #fff;
}

.products .box-container .box-bottom .product-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  border: 0.2rem solid var(--main-color);
}

.products .box-container .box-bottom .product-btn a i {
  font-size: 1.6rem;
  color: var(--main-color);
}

/* Product style end */

/* About Us Style Start */

.about-us .about-us-box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.about-us .about-us-box img {
  height: 50rem;
}

.about-us .about-us-box .about-us-info {
  min-height: 60rem;
  max-width: 80rem;
}

.about-us .about-us-box .about-us-info h3 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.about-us .about-us-box .about-us-info p {
  font-size: 1.7rem;
  color: #ada0a0;
  margin-top: 3rem;
}

/* About Us Style End */

/* Review Style Start */

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  height: 60rem;
  padding: 3rem;
  border-radius: 3rem;
}

.review .box-container .box p {
  font-size: 1.3rem;
}

.review .box-container .box .avatar {
  margin: 2rem 0 2rem 0;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}

.review .box-container .box h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--main-color);
}

.review .box-container .box .stars i {
  font-size: 1.5rem;
  color: gold;
}
/* Review Style End */

/* Contact us style start */
.contact-us{

}

.contact-us .row{
  display: flex;
  background-color: var(--black-color);
  flex-wrap: wrap;
  gap: 1rem;
}

.contact-us .row .map{
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact-us .row form{
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact-us .row form h3{
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}

.contact-us .row form .inputBox {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  border: var(--border);
}

.contact-us .row form .inputBox i {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact-us .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background-color: transparent;
}

.contact-us .row form .btn {
  color: var(--main-color);
  background-color: #fff;
  font-weight: bold;
}


/* Contact us style end */


/*! blog start  */
.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  background-color: #fff;
  border-radius: 3rem;
}

.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.blogs .box-container .box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content .title {
  line-height: 1.5;
  font-size: 2.5rem;
}

.blogs .box-container .box .content span {
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
}

.blogs .box-container .box .content p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #ccc;
  padding: 1rem 0;
}
/*! blog end  */


/*! footer start  */
.footer {
  background-color: var(--black-color);
  text-align: center;
}

.footer .search {
  display: flex;
  justify-content: center;
}

.footer .search .search-input {
  width: 30rem;
}

.footer .search .btn-primary {
  background-color: var(--main-color);
  padding: 1rem 2rem;
  margin-left: 1rem;
}

.footer .share {
  padding: 2rem 0;
}

.footer .share a {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  color: #fff;
  font-size: 2rem;
  border: var(--border);
  border-radius: 50%;
  margin: 0.3rem;
}

.footer .share a:hover {
  background-color: var(--main-color);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer .links a {
  background-color: var(--main-color);
  padding: 0.7rem 2rem;
  color: #fff;
  font-size: 2rem;
  border: var(--border);
}

.footer .links a:hover {
  background-color: var(--black-color);
  opacity: 0.7;
}

.footer .links a.active {
  background-color: var(--black-color);
}

.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  padding-top: 1.5rem;
}

.footer .credit span {
  color: var(--main-color);
}
/*! footer end  */

/*! responsive start  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  .header .logo img {
    height: 7rem;
  }

  section {
    padding: 2rem;
  }

  .products .box-container .box .box-head .name {
    font-size: 3.4rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 95%;
    background-color: #fff;
    height: calc(100vh - 9rem);
    width: 30rem;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
    right: -100%;
  }

  .header .navbar.active {
    right: 3rem;
  }

  .header .navbar a {
    color: var(--black-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .header .search-form {
    width: 30rem;
  }
}

/*! responsive end  */